streamlit
pandas
numpy
plotly
scikit-learn
PyJWT
PyPDF2
streamlit-audiorecorder
SpeechRecognition
textblob
opencv-python-headless
google-generativeai
pydubstreamlit-audiorecorder
pydub
SpeechRecognition
ffmpeg-python
